<% move = params[:play].to_sym %>
<% this_game = RPSGame.new(move) %>
<h1>WELCOME TO ROCK PAPER SCISSORS</h1>
<h2>You have played: <%= this_game.gametype %></h2>
<h2>The computer has played: <%= this_game.computer_play %></h2>
<%=  this_game.won? %>
